body {
    background: url(../assets/images/background-pattern-desktop.svg) center top no-repeat fixed;
    background-size: contain;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.card {
    background-color: var(--bg-card-color);
    border: 3px red solid;
    width: 620px;
    height: 600px;
    border-radius: 10px;
    margin-top: 90px;
}

.title {
    display: flex;
    padding: 40px 40px 20px 30px;
}

.title .star {
    font-size: 20px;
    margin-right: 20px;
}

.title h1 {
    font-size: 60px;
}

.doubts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    margin-top: 25px;
}

