body {
    background: url(../assets/images/background-pattern-desktop.svg) no-repeat fixed;
    background-size: contain;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: var(--bg-card-color);
    width: 700px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 20px 20px rgb(238, 216, 244);
}

.title {
    display: flex;
    padding: 30px 40px 20px 40px;

}

.title .star {
    margin-right: 20px;
}

.title h1 {
    font-size: 60px;
}

#doubts {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0 40px;
}

.doubt {
    position: relative;
    margin-bottom: 40px;
}

.doubt a {
    color: black;
}

.doubt .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: -10px;
    top: -3px;
}

.doubt .reply {
    color: var(--btn-color);
    padding: 20px 0 0 0;
    line-height: 150%;
}

.doubt a:hover {
    color: purple;
}